
.services{
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-x: hidden;
}

.services__main{
    width: 100%;
    height: 100vh;
    margin-left:19.8% ;
    background-color: #fff;
    overflow-x: hidden;
}
.kelash__services__container__card{
    background: #000;
}

.services__video{
    width: 100%;
    height: 100vh;
    background-color: #e3f2fa;
}
.services__video iframe{
display: flex;
justify-content: center;
align-items: center;
padding: 40px;
}
/* hover zoom out  */
