@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.home{
    width: 100vw;
    height: 100%;
    background-color: #fff;
}
.home_main{
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    margin-left: 270px;
    /* background-color: #effbf8; */
    background-color: #beece1;
        /* background-color: blue; */
    /* justify-content: space-between; */
}


.main__content{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: bisque; */
    padding: 10px 20px
}
.main__content h1{
    font-size: 50px;
    font-weight: 700;
    margin-top: 16px;
}
.main__content_button{
    margin-top: 100px;
}
.main__content__text_p{
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}
.main__content__text_p span{
    color: #2882e9;
}
.main__content_button ,button{
    width: 200px;
    height: 50px;
    background-color: #130f49;
    color: #fff;
    border: none;
   padding: 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    margin: 0px 10px;  
}

 .main__content_button ,button:last-child{
    background-color: #beece1;
    color: #000;
}

 .main__content_button ,button:last-child:hover{
    background-color: #130f49;
    color: #fff;
}
.main__content_button ,button:hover{
    background-color:#beece1;
        color: black;
}
.main__content__text{
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 400;
}
.main__content__text  span{
    color: #a5a6ff;

}
.main__content__contact{
    
   margin-top: 65px;
    margin-bottom: 20px;
    border-left: 5px solid #e9d628;
    padding-left: 15px;
}
.main__content__contact p{

    font-size: 20px;
    font-weight: 400;
  
}
.main__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/img/about/222.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s ;

}

/* screen less than 460px */
@media (max-width: 460px) {
    .home_main{
        width: 100vw;
        height: 100vh;
        /* padding: 0px 50px; */
    }
    .main__content{
        width: 100%;
        height: 100%;

    }

    .main__content_button, button {
        width: 84vw;
        margin: 10px 10px;
        font-size: 18px;
    }
    .main__content__text{
        height: 400px;
        margin: 0;
        padding: 10px 20px;
        /* background:#20a7d8; */
    }
    .main__content__text p{
        font-size: 18px;
    }
    .main__content h1{
        margin: 20px 0px;
        font-size: 3rem;
    }
    .animation{
        height: 40px;
        margin-top: 1.5rem;
    }
}

/* screen less 359px */
@media (max-width: 359px) {
    

    .main__content_button, button {
        width: 84vw;
        margin: 10px 10px;
        font-size: 18px;
    }
   
    .main__content__text p{
        font-size: 18px;
    }
    .main__content h1{
        margin: 20px 0px;
        font-size: 2rem;
    }
    .animation{
        height: 40px;
        margin-top: 1.5rem;
    }
}

.animation {
    /* background-color: #130f49; */
    height:60px;
    overflow:hidden;
    margin-top: 1rem;
    font-family:'Roboto';
    font-size: 50px;
    font-weight: 700;
  }
  
  .animation > div > div {
    padding: 0.5rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    color:#20a7d8;
  }
  .second div {
    color:#CD921E;
  }
  .third div {
    color:#c10528;
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  /* media query for screen less than 1050px */
@media (max-width: 1050px) {
    .home_main{
        width: 100vw;
        height: 100vh;
        margin-left: 0px;
    }
    .main__content{
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    .main__img{
        
        display: none;
    }
}